* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #47e3b6, #42476b);
}

html {
  font-size: 62.5%;
}

.container {
  margin: 15% auto;
  width: 100%;
  min-height: 100vh;
  padding: 1 rem;
}

.apptodo {
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 60rem;
  background: #fff;
  margin: 10em auto 2em;
  padding: 4rem 3rem 7rem;
  border-radius: 1rem;
}

.imglogo {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.logoh2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputbtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ulli {
  display: block;
  margin-left: 25%;
  width: 30rem;
}

.add {
  width: 20rem;
  border-right: none;
  border-radius: 3rem 0rem 0rem 3rem;
  padding: 0.5rem;
  margin: 0rem;
  background: transparent;
}

/* div Button list */
.btnlist {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0.3rem;
  flex-direction: row;
}

/* addbutton */
.btnadditem {
  border-radius: 0rem 3rem 3rem 0rem;
  border-left: none;
  width: 7rem;
  padding: 0.5rem;
  cursor: pointer;
}

/* clear button */
.btnadditem1 {
  border-radius: 3rem 3rem 3rem 3rem;
  width: 7rem;
  padding: 0.5rem;

  cursor: pointer;
}
/* editbutton */
.btnadditem2 {
  border-radius: 3rem 3rem 3rem 3rem;
  width: 7rem;
  padding: 0.5rem;
  cursor: pointer;
}

ul li cross {
  position: absolute;
  right: 0;
  font-size: 2rem;
  line-height: 2rem;
}

ul li cross:hover {
  transition-duration: 0.2s;
  background-color: grey;
  cursor: pointer;
}
.list-group-item.selected {
  background-color: grey;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
/* li:hover {
    background-color: #47e3b6;
  } */
